<div class="row">
  <div class="col-12 p-3 text-white" style="background-color: rgb(50, 50, 223)">
    <h2 class="text-center">Ausual component don't hava any child</h2>
    <div class="d-flex justify-content-center">
      <div class="list-group w-25">
        <a
          class="list-group-item list-item-action d-flex justify-content-between"
          *ngFor="let mentor of mentors"
          (click)="onSelectMentor(mentor)"
        >
          <div class="ms-2 me-auto">
            <div class="fw-bold">{{ mentor.name }}</div>
          </div>
          <span class="badge bg-primary rounded-pill">{{
            mentor.likeCount
          }}</span>
        </a>
      </div>
    </div>
  </div>
</div>
